body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#draw {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

#draw:hover {
    background-color: #0056b3;
}

#cards {
    display: flex;
    gap: 10px;
    height: 100px;
}

#cards img {
    animation: fadeIn 0.5s ease-out;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
